<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div *ngIf="errorMessage" class="alert alert-warning">
            The following items require your attention before you can continue: <br> {{ errorMessage }}
        </div>
        <br><strong>Tip:</strong>&nbsp;&nbsp;<span>*&nbsp;Indicates required field</span><br> <br>
        <form (ngSubmit)="saveContact()" [formGroup]="contactForm">
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="firstName">First Name *</label>
                    <div class="col-md-9">
                        <input [ngClass]="{'is-invalid': displayMessage.firstName}" class="form-control" id="firstName"
                            placeholder="First Name (required)" [formControlName]="'firstName'" (blur)="blur()" />
                        <span class="invalid-feedback"
                            *ngIf="displayMessage.firstName">{{displayMessage.firstName}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="lastName">Last Name *</label>
                    <div class="col-md-9">
                        <input [ngClass]="{'is-invalid': displayMessage.lastName}" class="form-control" id="lastName"
                            placeholder="Last Name (required)" [formControlName]="'lastName'" (blur)="blur()" />
                        <span class="invalid-feedback"
                            *ngIf="displayMessage.lastName">{{displayMessage.lastName}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="company">Company *</label>
                    <div class="col-md-9">
                        <input [ngClass]="{'is-invalid': displayMessage.company}" class="form-control" id="company"
                            placeholder="Company Name (required)" [formControlName]="'company'" (blur)="blur()" />
                        <span class="invalid-feedback" *ngIf="displayMessage.company">{{displayMessage.company}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email">Email *</label>
                    <div class="col-md-9">
                        <input [ngClass]="{'is-invalid': displayMessage.email}" class="form-control" id="email"
                            placeholder="Email Name (required)" [formControlName]="'email'" (blur)="blur()" />
                        <span class="invalid-feedback" *ngIf="displayMessage.email">{{displayMessage.email}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="phone">Phone *</label>
                    <div class="col-md-9">
                        <input [ngClass]="{'is-invalid': displayMessage.phone}" class="form-control" id="phone"
                            placeholder="Phone (required)" [formControlName]="'phone'" (blur)="blur()" />
                        <span class="invalid-feedback" *ngIf="displayMessage.phone">{{displayMessage.phone}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="address">Address *</label>
                    <div class="col-md-9">
                        <input [ngClass]="{'is-invalid': displayMessage.address}" class="form-control" id="address"
                            placeholder="Address (required)" [formControlName]="'address'" (blur)="blur()" />
                        <span class="invalid-feedback" *ngIf="displayMessage.address">{{displayMessage.address}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        <button id="createBtn" class="btn btn-outline-primary" type="submit"
                            [disabled]="!contactForm.valid">{{btnText}}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
