<!-- This header relies on bootstrap built in responsive behaviors-->
<!-- When on smaller screen sizes, a toggler will be displayed with the links -->
<nav class="navbar navbar-expand-lg navbar-light navbar-color">
    <a class="navbar-brand" href="#">Contact Application</a>
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" data-toggle="collapse"
        data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/contacts">Contact List <span class="sr-only">Contact List</span></a>
            </li>
        </ul>
    </div>
</nav>