<h2 class="col-12 col-md-10 text-center mt-2 mb-2">Carrie Beaton's Brand Marketing Code Test
</h2>
<p class="col-12 col-md-10 text-center">This page was created using Bootstrap and NG Bootstrap for responsive design.  
    NGRX was used to create a unidirectional data flow and avoid mutating state. State management is a great way to help 
    keep an application maintainable and scalable and it is easily testible.  
    Reactive forms were used because they are easier
    to scale, have built in validator functions and adding custom validations is easy.  There is
    also less setup for testing in comparision to template-driven forms.  Unit tests were added throughout to demostrate understanding.
    I very much enjoyed this project and look forward to a code review!
 </p>
 <h3 class="col-12 col-md-10 text-center"> Thank you for your time!
</h3>